

main{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    margin-left: 10%;
}

.info li{ 
    padding: 5px;
    width: 50px;
    height: 50px;
    color: black;
}

.foto{
    margin-right: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
}