main{
    padding: 30px 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    color: #DFF9FB;
}

.info, .foto, .sobre{
    width: 30%;
    border: 1px solid red;
}

.info{
    margin-left: 5%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info ul li{
    padding: 10px;
    font-size: 1.5rem;
}

.info ul li a{
    background: none;
    padding: 0;
}

.foto{
    width: 250px;
    height: 250px;
    margin: 0 2%;
}

.foto img{
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50%;
}

.sobre{
    height: 250px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre h2{
    padding-bottom: 15px;
}

/* MOBILE CSS */

@media screen and (max-width: 768px){

    main{
        padding: 0;
        height: 700px;
        display: grid;
        align-content: center;
        row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid red;
        color: #DFF9FB;
    }

    .info, .foto, .sobre{
        margin: 0;
        width: 70%;
        border: 1px solid red;
    }

    .info, .foto{
        justify-self: center;
    }

    .sobre{
        height: 150px;
        grid-column: 1 / -1;
        justify-self: center;
    }
    
}

/* MOBILE CSS */

@media screen and (max-width: 500px){

    main{
        height: 500px;
    }

    .info, .foto, .sobre{
        margin: 0;
        width: 70%;
        border: 1px solid red;
    }

    .info, .foto{
        height: 150px;
    }

    .sobre{
        height: 150px;
        grid-column: 1 / -1;
    }
    
    .info h1{
        font-size: 1.3rem;
    }

    .info ul li{
        padding: 7px;
        font-size: 1rem;
    }

    .foto img{
        width: 100px;
        height: 100px;
        background-size: cover;
        border-radius: 50%;
    }

    .sobre h2{
        font-size: 1.2rem;
    }

    .sobre p{
        font-size: .8rem;
    }
    
}
