a{
    text-decoration: none;
    padding: 3px 15px;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #FFF;
    font-size: 0.8rem;
}

.logo{
    width: 150px;
    margin-left: 5%;
}

#nav li a:hover{
    background-color: aqua;
    cursor: pointer;
    border-radius: 4px;
}

.menu{
    margin-right: 5%;
}

.fa-bars, .fa-x{
    cursor: pointer;
    font-size: 1rem;
}

.faX{
    font-size: 1rem;
    padding: 27px 20px;
}

.dropdown{
    display: block;
    position: absolute;
    width: 30%;
    height: 100%;
    top: -1px;
    right: 0;
    background-color: #7c7c7c;
    animation: slideMenu 1s ease-out;
}

@keyframes slideMenu {
    from {right:-30%;}
    to {right: 0;}
  }

.dropmenu{
    flex-direction: column;
}

.dropmenu li{
    padding: 0;
}

.dropmenu li a{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 1px;
}

.dropmenu a:hover{
    background-color: #FFF;
}