header{
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFF9FB;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.50);
    color: #000;
    font-size: 0.8rem;
}

a{
    text-decoration: none;
    padding: 3px 15px;
}

.logo{
    width: 150px;
    margin-left: 5%;
}

.navBar li a:hover{
    background-color: #9c9c9c52;
    cursor: pointer;
    border-radius: 4px;
}

.menu{
    margin-right: 5%;
}

.fa-bars, .fa-x{
    cursor: pointer;
    font-size: 1rem;
}

nav a {
    font-size: 0.95rem;
}

.faX{
    font-size: 1rem;
    padding: 27px 20px;
}

.blur{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(3px);
}

.dropdown{
    display: block;
    position: absolute;
    width: 0%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #DFF9FB;
    animation: slideMenu 0.5s forwards ease-out;
}

@keyframes slideMenu {
    from {width: 0%;}
    to {width: 30%;}
  }

.dropmenu{
    flex-direction: column;
}

.dropmenu li{
    padding: 0;
}

.dropmenu li a{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 1px;
}

.fa-address-card, .fa-code, .fa-folder-open, .fa-square-phone{
    padding-right: 10px;
    width: 20px;
}

.dropmenu a:hover{
    background-color: #FFF;
}