/************************** FOOTER ****************************/

footer{
    width: 100%;
    background-color: #DFF9FB;
    color: #000;
}

footer .final{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px;
}
