/************************** FOOTER ****************************/

footer{
    width: 100%;
    background-color: #1F1C18;
    color: #FFF;
}

footer .final{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 12px;
  border-top: 1px solid #ddd;
  border-top-style: inset;
}
