.article{
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.skills{
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.50);
    margin-top: -86px;
    padding: 15px;
    color: #FFF;
}

.skills h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.skills ul{
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 25px;
}

.skills li{
    width: 100px;
    height: 100px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}